# **GIT REPOSITORY CLONING :**

In [ ]:
!git clone https://github.com/PhonePe/pulse.git

Cloning into 'pulse'...
remote: Enumerating objects: 7975, done.
remote: Counting objects: 100% (7975/7975), done.
remote: Compressing objects: 100% (6637/6637), done.
remote: Total 7975 (delta 2465), reused 6527 (delta 1031), pack-reused 0
Receiving objects: 100% (7975/7975), 2.11 MiB | 6.19 MiB/s, done.
Resolving deltas: 100% (2465/2465), done.

In [ ]:
# REQUIRED LIBRARIES

import pandas as pd

import os

import json

import pandas as pd

import numpy as np

from sqlalchemy import create_engine

#  **AGGREAGATED TRANSACTION :**

In [ ]:
# PATH OF AGGREAGATED TRANSACTION MENTIONED BELOW

path = "/content/pulse/data/aggregated/transaction/country/india/state/"

Agg_state_Name_list = os.listdir(path)

Agg_state_Name_list # cONTAINS EVERY STATE NAMES

Full_Data={'state':[], 'year':[],'quater':[],'agg_transaction_type':[], 'agg_transaction_count':[], 'agg_transaction_amount':[]} # DATA CONTAINER  for DATAFRAME

for i in Agg_state_Name_list:  # For state names
  path_i = path+i+'/'
  path_year = os.listdir(path_i)
  for year in path_year:       # For years
    path_year_file = path_i+year
    year_files = os.listdir(path_year_file)
    for file_ in year_files: # For each year files
      file_path = path_year_file+'/'+file_
      data_file = open(file_path,'r')
      Data = json.load(data_file)
      for z in Data['data']["transactionData"]:
        Name = z['name']
        count = z["paymentInstruments"][0]["count"]
        amount = z["paymentInstruments"][0]["amount"]
        Full_Data['agg_transaction_type'].append(Name)
        Full_Data['agg_transaction_count'].append(count)
        Full_Data['agg_transaction_amount'].append(amount)
        Full_Data['state'].append(i)
        Full_Data['year'].append(year)
        Full_Data['quater'].append(int(file_.strip('.json')))

In [ ]:
# DATAFRAME CREATED

agg_transaction = pd.DataFrame(Full_Data)

In [ ]:
# CSV FILE MADE
agg_transaction.to_csv("aggregated_transaction.csv", index=False)

In [ ]:
# Inserting Data into sql

table_name = 'aggregated_transaction'

Dataframe.to_sql(name=table_name, con=engine, if_exists='replace', index=False)



```
                                                                  Done
```

 # **AGGREAGATED USER :**

In [ ]:
PATH  = '/content/pulse/data/aggregated/user/country/india/state'

agg_users_state_names = os.listdir(path)

# agg_users_state_names

In [ ]:

user_data = {'state':[], 'year':[],'quater':[],'registered_users': [] ,"agg_users_appopens":[], 'agg_users_brand' :[] , 'agg_users_count':[],'agg_users_percentage':[]}


for i in agg_users_state_names: # For Every States Names
  agg_state_path = PATH+'/'+i+'/'
  agg_states_years = os.listdir(agg_state_path)  # For
  for year in agg_states_years:
    file_path = agg_state_path+year+'/'
    year_files = os.listdir(file_path)
    for j in year_files:
      f=file_path+j
      data = open(f,'r')
      file_ = json.load(data)
      # ----------Data fill-------
      if file_["data"]['usersByDevice'] is not None:
        for z in file_["data"]['usersByDevice']:
          Name = i
          Year = year
          Q = int(j.strip('.json'))
          ru = file_['data']['aggregated']['registeredUsers']
          ao = file_['data']['aggregated']['appOpens']
          brand = z['brand']
          count = z['count']
          percentage = z["percentage"]
          user_data["state"].append(Name)
          user_data['year'].append(Year)
          user_data['quater'].append(Q)
          user_data['registered_users'].append(ru)
          user_data["agg_users_appopens"].append(ao)
          user_data['agg_users_brand'].append(brand)
          user_data['agg_users_count'].append(count)
          user_data['agg_users_percentage'].append(percentage)
      else:
          Name = i
          Year = year
          Q = int(j.strip('.json'))
          ru = file_['data']['aggregated']['registeredUsers']
          ao = file_['data']['aggregated']['appOpens']

          user_data["state"].append(Name)
          user_data['year'].append(Year)
          user_data['quater'].append(Q)
          user_data['registered_users'].append(ru)
          user_data["agg_users_appopens"].append(ao)
          user_data['agg_users_brand'].append('Not Mentioned')
          user_data['agg_users_count'].append(0)
          user_data['agg_users_percentage'].append(0)

In [ ]:
# Dataframe Creation

agg_user_df = pd.DataFrame(user_data)

In [ ]:
agg_user_df.to_csv('aggregated_user.csv',index=False)

In [ ]:
# Inserting Data into sql

table_name = 'aggregated_user'

agg_user_df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

#  **MAP TRANSACTION :**

In [ ]:
path = '/content/pulse/data/map/transaction/hover/country/india/state'

map_state_names = os.listdir(path)

# map_state_names

In [ ]:
Map_Data = {'state':[],'year':[],'quater':[],'map_transaction_district':[],'map_transaction_type':[],'map_transaction_count':[],'map_transaction_amount':[]}

for i in map_state_names:
  map_state_path   = path + '/' + i + '/'
  map_states_years = os.listdir(map_state_path)
  for year in map_states_years:
    file_path  = map_state_path + year + '/'
    year_files = os.listdir(file_path)
    for j in year_files:
      f = file_path + j
      data = open(f,'r')
      file_ = json.load(data)
      for z in file_['data']["hoverDataList"]:
        state_name =  i
        Year = year
        Q = int(j.strip('.json'))
        dist_name = z['name']
        type_  = z['metric'][0]['type'] if z['metric'][0]['type'] else "Not Mentioned"
        count  = z['metric'][0]['count'] if z['metric'][0]['count'] else 0
        amount = z['metric'][0]['amount'] if z['metric'][0]['amount'] else 0
        Map_Data['state'].append(state_name)
        Map_Data['map_transaction_district'].append(dist_name)
        Map_Data['map_transaction_type'].append(type_)
        Map_Data['map_transaction_count'].append(count)
        Map_Data['map_transaction_amount'].append(amount)
        Map_Data['year'].append(Year)
        Map_Data['quater'].append(Q)

In [ ]:
# Dataframe Creation

Map_transaction_df = pd.DataFrame(Map_Data)

In [ ]:
Map_transaction_df.to_csv('map_transaction.csv',index=False)

In [ ]:
# Inserting Data into sql

table_name = 'Map_transaction'

Map_df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

# **MAP USER :**

In [ ]:
path = '/content/pulse/data/map/user/hover/country/india/state'


map_state_names = os.listdir(path)

In [ ]:
Map_Data = {'state':[],'year':[],'quater':[],'map_user_district':[],'map_registered_users':[],'map_appopens':[]}

for i in map_state_names:
  map_state_path   = path + '/' + i + '/'
  map_states_years = os.listdir(map_state_path)
  for year in map_states_years:
    file_path  = map_state_path + year + '/'
    year_files = os.listdir(file_path)
    for j in year_files:
      f = file_path + j
      data = open(f,'r')
      file_ = json.load(data)
      for z in file_['data']["hoverData"]:
         state_name = i
         Year = year
         q = int(j.strip('.json'))
         Map_User_District = z
         Map_Registered_Users = file_['data']["hoverData"][z]['registeredUsers']
         Map_appopens = file_['data']["hoverData"][z]['appOpens']

         Map_Data['state'].append(state_name)
         Map_Data['year'].append(Year)
         Map_Data['quater'].append(q)
         Map_Data['map_user_district'].append(Map_User_District)
         Map_Data['map_registered_users'].append(Map_Registered_Users)
         Map_Data['map_appopens'].append(Map_appopens)

In [ ]:
# Dataframe Creation

Map_User_df = pd.DataFrame(Map_Data)

In [ ]:
Map_User_df.to_csv("map_user.csv",index=False)

In [ ]:
# Inserting Data into sql

table_name = 'Map_user'

Map_User_df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

# **TOP TRANSACTION :**

In [ ]:
path = '/content/pulse/data/top/transaction/country/india/state'

top_states_names = os.listdir(path)

In [ ]:
Top_data = {'state':[],'year':[],'quater':[],'top_transaction_district':[],'top_transaction_type':[],'top_transaction_count':[],'top_transaction_amount':[]}

for i in top_states_names:
  top_state_path   = path + '/' + i + '/'
  top_states_years = os.listdir(top_state_path)
  for year in top_states_years:
    file_path  = top_state_path + year + '/'
    year_files = os.listdir(file_path)
    for j in year_files:
      f = file_path + j
      data = open(f,'r')
      file_ = json.load(data)
      for z in range(len(file_['data']["districts"])):
         state_name = i
         Year = year
         q = int(j.strip('.json'))
         Top_Transaction_District = file_['data']["districts"][z]["entityName"]
         Top_Transaction_Type = file_['data']["districts"][z]["metric"]["type"]
         Top_Transaction_Count = file_['data']["districts"][z]["metric"]["count"]
         Top_Transaction_Amount = file_['data']["districts"][z]["metric"][ "amount"]
       # --------------------------------------------------------------------------------
         Top_data['state'].append(state_name)
         Top_data['year'].append(Year)
         Top_data['quater'].append(q)
         Top_data['top_transaction_district'].append(Top_Transaction_District )
         Top_data['top_transaction_type'].append(Top_Transaction_Type)
         Top_data['top_transaction_count'].append(Top_Transaction_Count)
         Top_data['top_transaction_amount'].append(Top_Transaction_Amount)

In [ ]:
# Dataframe Creation

Top_transaction_df_dist = pd.DataFrame(Top_data)

In [ ]:
Top_transaction_df_dist.to_csv('top_transaction_district_state.csv',index=False)

In [ ]:
# Inserting Data into sql

table_name = 'Top_transaction_df_dist'

Top_transaction_df_dist.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

### **Pincodes :**

In [ ]:
Top_pincode_data = {'state':[],'year':[],'quater':[],'top_transaction_pincode':[],'top_transaction_type':[],'top_transaction_count':[],'top_transaction_amount':[]}

for i in top_states_names:
  top_state_path   = path + '/' + i + '/'
  top_states_years = os.listdir(top_state_path)
  for year in top_states_years:
    file_path  = top_state_path + year + '/'
    year_files = os.listdir(file_path)
    for j in year_files:
      f = file_path + j
      data = open(f,'r')
      file_ = json.load(data)
      for z in range(len(file_['data']["pincodes"])):
         state_name = i
         Year = year
         q = int(j.strip('.json'))
         Top_Transaction_Pincode = file_['data']["pincodes"][z]["entityName"]
         Top_Transaction_Type = file_['data']["pincodes"][z]["metric"]["type"]
         Top_Transaction_Count = file_['data']["pincodes"][z]["metric"]["count"]
         Top_Transaction_Amount = file_['data']["pincodes"][z]["metric"][ "amount"]

         Top_pincode_data ['state'].append(state_name)
         Top_pincode_data ['year'].append(Year)
         Top_pincode_data ['quater'].append(q)
         Top_pincode_data ['top_transaction_pincode'].append(Top_Transaction_Pincode)
         Top_pincode_data ['top_transaction_type'].append(Top_Transaction_Type)
         Top_pincode_data ['top_transaction_count'].append(Top_Transaction_Count)
         Top_pincode_data ['top_transaction_amount'].append(Top_Transaction_Amount)

In [ ]:
# Dataframe Creation

Top_pincode_data_df = pd.DataFrame(Top_pincode_data )

In [ ]:
Top_pincode_data_df.to_csv("top_pincode_data.csv",index=False)

In [ ]:
# Inserting Data into sql

table_name = 'top_transaction_pincode'

Top_pincode_data_df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

# **TOP USER :**

In [ ]:
path = '/content/pulse/data/top/user/country/india/state'

top_states_names = os.listdir(path)

In [ ]:
Top_data = {'state':[],'year':[],'quater':[],'top_user_district':[],'top_registered_users':[]}

for i in top_states_names:
  top_state_path   = path + '/' + i + '/'
  top_states_years = os.listdir(top_state_path)
  for year in top_states_years:
    file_path  = top_state_path + year + '/'
    year_files = os.listdir(file_path)
    for j in year_files:
      f = file_path + j
      data = open(f,'r')
      file_ = json.load(data)
      for z in range(len(file_['data']["districts"])):
         state_name = i
         Year = year
         q = int(j.strip('.json'))
         Top_User_District = file_['data']["districts"][z]["name"]
         TopUser_Registered_users = file_['data']["districts"][z]["registeredUsers"]

         Top_data['state'].append(state_name)
         Top_data['year'].append(Year)
         Top_data['quater'].append(q)
         Top_data['top_user_district'].append(Top_User_District)
         Top_data['top_registered_users'].append(TopUser_Registered_users)

In [ ]:
# Dataframe Creation

Top_User_District_data = pd.DataFrame(Top_data)

In [ ]:
Top_User_District_data.to_csv('top_user_district_data.csv',index=False)

In [ ]:
# Inserting Data into sql

table_name = 'top_user_district'

Top_User_District_data.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

### **Pincode :**

In [ ]:
Top_data = {'state':[],'year':[],'quater':[],'top_user_pincode':[],'top_registered_users':[]}

for i in top_states_names:
  top_state_path   = path + '/' + i + '/'
  top_states_years = os.listdir(top_state_path)
  for year in top_states_years:
    file_path  = top_state_path + year + '/'
    year_files = os.listdir(file_path)
    for j in year_files:
      f = file_path + j
      data = open(f,'r')
      file_ = json.load(data)
      for z in range(len(file_['data']["pincodes"])):
         state_name = i
         Year = year
         q = int(j.strip('.json'))
         Top_User_Pincode = file_['data']["pincodes"][z]["name"]
         TopUser_Registered_users = file_['data']["pincodes"][z]["registeredUsers"]

         Top_data['state'].append(state_name)
         Top_data['year'].append(Year)
         Top_data['quater'].append(q)
         Top_data['top_user_pincode'].append(Top_User_Pincode)
         Top_data['top_registered_users'].append(TopUser_Registered_users)

In [ ]:
# Dataframe Creation

Top_Users_Pincode_data  = pd.DataFrame(Top_data)

In [ ]:
# Inserting Data into sql

table_name = 'top_user_pincode'

Top_Users_Pincode_data.to_sql(name=table_name, con=engine, if_exists='replace', index=False)



```
                                                                               Finished
```